*~
examples/ojdvi/mldvi-1.0
*.cmo
*.cmi
*.cmx
*.cmj
*.cmt
*.cmja
*.cmxa
*.cmti
*.o
*.a
*.so
*.jo
*.ja
src/ojacare.opt
src/ojacare
src/parser/lexer.ml
src/parser/parser.ml
src/parser/parser.mli
*.aux
*.log
*.out
*.toc
*.class